* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.eb-garamond-font {
    font-family: "EB Garamond", serif;
    font-style: normal;
}

.poppins-font {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

:root {
    /* COLOR */
    --primery-color: #B68C5A;
    --dark02-color: #414040;
    --dark03-color: #707070;
    --dark04-color: #A0A0A0;
    --dark05-color: #CFCFCF;
    --dark06-color: #E7E7E7;
    --dark07-color: #F3F3F3;
    

}

/* Shared-Style */

.width {
    width: 73%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn {
    background-color: var(--primery-color);
    padding: 18px 30px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}


/*============ Main-Style============= */
/* Nav-Releted-Style */
.nav-container {
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    gap: 30px;
}

.nav-link {
    list-style: none;
}


/* Banner-Releted-Style */
.hero-banner {
    background-image: url(./images/banner.png) ;

    background-size: cover;
    height: 550px;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.hero-banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6),#00000099  );
    overflow: hidden;
}


.banner-container {
    padding: 0 260px;   
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
}
.banner-title {
    font-size: 72px;
    line-height: 85px;
    padding-bottom: 24px;
}

.banner-text {
    font-size: 16px;
    line-height: 26px;
    color: var(--dark06-color);
    padding-bottom: 32px;
}
.banner-input input {
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 8px;
    margin-right: 20px;
}
.banner-input input::placeholder {
    font-size: 16px;
    line-height: 26px;
    color: var(--dark04-color);
    padding: 18px 0 18px 20px;
    
}

/* legal-practice-releted-style */
.legal-practice {
    justify-content: center;
}
.practice-container {
    margin: 120px 0;
    text-align: center;
}
.practice-text {
    max-width: 714px;
    margin: 0 auto;
}

.practice-title {
    font-size: 40px;
    font-weight: bolder;
    color: var(--dark02-color);
    padding-bottom: 24px;
}
.practice-description {
    font-size: 16px;
    line-height: 26px;
    color: var(--dark03-color);
    padding-bottom: 60px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    border: 1px solid var(--dark06-color);
    padding: 55px 72px 70px 72px;
}
.card:hover {
    /* background-color: var(--dark06-color); */
    background: linear-gradient(to top, rgba(243, 243, 243, 0), #F3F3F3);
} 
.card:nth-child(3n) {
    border-right: none;
    border-top: none;
}
.card:nth-child(1n) {
    border-left: none;
    border-top: none;
}
.card:nth-child(4n) {
    border-bottom: none;
}
.card:nth-child(5n) {
    border-bottom: none;
}
.card:nth-child(6n) {
    border-bottom: none;
}

.card-title {
    font-family: "EB Garamond", serif;
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 24px;
    color: var(--dark02-color);
}
.card-text {
    font-size: 16px;
    line-height: 26px;
    color: var(--dark03-color);
    margin-bottom: 30px;
}


.card-icon i {
    background-color: var(--primery-color);
    color: white;
    padding: 10px;
    padding-right: 25px;
    border-radius: 50%;
    text-align: left;
    display: inline-block;
}


/* our-client-releted-style */

.our-client {
    text-align: center;
}

.client-text {
    max-width: 600px;
    margin: 0 auto;
}
.client-title {
    font-family: "EB Garamond", serif;
    font-size: 40px;
    font-weight: bolder;
    color: var(--dark02-color);
    padding-bottom: 24px;
}
.client-description {
    font-size: 16px;
    line-height: 26px;
    color: var(--dark03-color);
    padding-bottom: 64px;
}

.client-image {
    background-image: url(./images/banner.png);
    background-size: cover;
    height: 550px;
    align-items: center;
    color: white;
    padding: 0 260px;
    position: relative;
    overflow: hidden;
}
.client-image::after {
    content: "";
    inset: 0;
    position: absolute;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6),#00000099  );

}
.image-container {
    z-index: 2;
}

.image-title {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 4px;
}
.image-slag {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 32px;
}
.image-text {
    font-size: 16px;
    line-height: 26px;
    color: var(--dark07-color);
}


/* asked-container-releted-style */
.asked-container {
    margin: 120px auto;
}
.asked-text {
    text-align: center;
    padding-bottom: 60px;
    max-width: 600px;
    margin: 0 auto;
}

.asked-title {
    font-family: "EB Garamond", serif;
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 24px;
    color: var(--dark02-color);
}

.asked-description {
    font-size: 16px;
    line-height: 26px;
    color: var(--dark03-color);
}

.asked-box {
    gap: 30px;
}
.asked-box-container {
    background-color: var(--dark07-color);
    margin-bottom: 30px;
    padding: 32px 34px;
    border: none;
    border-radius: 8px;
}

.box-title {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    color: var(--dark02-color);
    margin-bottom: 16px;
}
.box-description {
    font-size: 16px;
    line-height: 26px;
    color: var(--dark03-color);
}

/* contact-container-releted-style */
.contact-container {
    text-align: center;
    margin-bottom: 120px;

}
.contact-text {
    max-width: 600px;
    margin: 0 auto;
    
}
.contact-title {
    font-family: "EB Garamond", serif;
    font-size: 40px;
    font-weight: bolder;
    color: var(--dark02-color);
    padding-bottom: 24px;
}

.contact-description {
    font-size: 16px;
    line-height: 26px;
    color: var(--dark03-color);
    padding-bottom: 60px;
}
.contact-field {
    gap: 30px;
}

.contact-box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.box {
    background-color: var(--dark07-color);
    padding: 65px 60px;
    border: 1px solid var(--dark05-color);
}
.box:nth-child(1n) {
    border-left: none;
    border-top: none;
}
.box:nth-child(2n) {
    border-right: none;
    border-top: none;
}
.box:nth-child(3n) {
    border-left: none;
    border-bottom: none;
}
.box:nth-child(4n) {
    border-right: none;
    border-bottom: none;
}

.box-description {
    max-width: 163px;
}


.contact-input {
    flex-direction: column;
    gap: 30px;
}

.contact-input input {
    width: 500px;
    height: 70px;
    background-color: var(--dark07-color);
    border: none;
    border-radius: 8px;
}
.contact-input input::placeholder {
    padding: 20px;
    font-size: 16px;
    line-height: 26px;
    color: var(--dark03-color);
}
.contact-input input[type="submit"] {
    background-color: var(--primery-color);
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}


textarea {
    background-color: var(--dark07-color);
    border: none;
    border-radius: 8px;
    padding-top: 20px;
}

/* footer-container-releted-style */
.footer {
    background-color: black;
    color: white;

}
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding-top: 120px;
    padding-bottom: 100px;

}
.footer-logo img {
    padding-bottom: 40px;
}
.logo-text {
    font-size: 16px;
    line-height: 26px;
    color: #CFCFCF;
}

.uselink-title {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 40px;
    
}
.use-link {
    list-style: none;
    padding-bottom: 10px;
}

.contact-title {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 40px;
    color: white;
}
.footer-contact-now p {
    font-size: 16px;
    line-height: 26px;
    color: var(--dark05-color);
    padding-bottom: 16px;
}

.subscribe-title {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 40px;
}
.footer-subscribe p {
    font-size: 16px;
    line-height: 26px;
    color: var(--dark05-color);
    padding-bottom: 24px;
}

.footer-subscribe input[type="text"] {
    height: 70px;
    width: 324px;
    border: none;
    border-radius: 8px;
}
.footer-subscribe input::placeholder {
    padding-left: 33px;
}

.footer-sub i {
    background-color: var(--primery-color);
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 20px;
    padding-right: 40px;
    border: none;
    border-radius: 8px;
    margin-left: -15px;
    font-size: 18px;
}